@import "../fonts/stylesheet.css";
@import "../fonts/stylesheet.css";
.bound {
  width: 100%;
  max-width: 75rem;
  padding: 0 2rem;
}

.primary-btn {
  width: fit-content;
  padding: 0.8rem 1.4rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1.005em;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #6165D7;
  transition: all 0.2s;
}
.primary-btn:hover {
  opacity: 0.8;
}

h1 {
  font-weight: 500;
  font-size: 3.015em;
}

h2 {
  font-weight: 500;
  font-size: 1.48em;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
}

p {
  font-size: 1.17em;
  font-weight: 400;
}

a {
  font-size: 1.005em;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  opacity: 0.8;
}

nav {
  position: fixed;
  z-index: 3;
  background-color: #ffffff;
  padding: 1.6rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
nav .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .content .links {
  list-style: none;
  display: none;
  gap: 2rem;
}
nav .content .links li {
  position: relative;
}
nav .content .links li a {
  font-size: 1.005em;
}
nav .content .links li::before {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: black;
  transform: scaleX(0);
  transition: all 200ms;
}
nav .content .links li:hover::before {
  transform: scaleX(1);
}
nav .content .burger-btn {
  z-index: 5;
  position: relative;
  display: flex;
  gap: 0rem;
  width: 40px;
  height: 30px;
  transition: all 0.2s;
  cursor: pointer;
}
nav .content .burger-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.2s;
}
nav .content .burger-btn span:nth-child(1) {
  top: 0;
}
nav .content .burger-btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
nav .content .burger-btn span:nth-child(3) {
  top: calc(100% - 3px);
}
nav .content .opened span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
nav .content .opened span:nth-child(2) {
  opacity: 0;
}
nav .content .opened span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}
nav .content .burger-menu {
  position: absolute;
  z-index: 4;
  left: -30rem;
  top: 0;
  height: 100dvh;
  width: fit-content;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s;
}
nav .content .burger-menu .burger-links {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
nav .content .burger-menu .burger-links li {
  position: relative;
}
nav .content .burger-menu .burger-links li::before {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: black;
  transform: scaleX(0);
  transition: all 200ms;
}
nav .content .burger-menu .burger-links li:hover::before {
  transform: scaleX(1);
}
nav .content .opened-menu {
  left: 0;
}
nav .content .blackScreen {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.678);
  transition: all 0.2s;
}
nav .content .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav .content .info .location {
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
  transition: all 0.2s;
}
nav .content .info .location img {
  transform: translateY(-0.1rem);
  width: 100%;
  max-width: 0.8rem;
}
nav .content .info .location p {
  font-weight: 500;
}
nav .content .info .location:hover {
  opacity: 0.8;
}
@media screen and (max-width: 510px) {
  nav .content .info .location {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  nav .content .links {
    display: flex;
  }
  nav .content .burger-btn, nav .content .burger-menu, nav .content .blackScreen {
    display: none !important;
  }
}

.land {
  position: relative;
  background-color: transparent;
  padding-top: 2rem;
  padding-bottom: 10rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.land .background {
  z-index: 0;
  width: 100%;
  max-width: 120rem;
  height: 20rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.land .background .blurs span {
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  filter: blur(12rem);
}
.land .background .blurs :nth-child(1) {
  transform: scale(1.1);
  right: 8rem;
  top: -10rem;
  box-shadow: #8C30F5 0 0 1rem 1rem;
  background-color: #8C30F5;
}
.land .background .blurs :nth-child(2) {
  transform: scale(0.6);
  right: 30rem;
  top: 10rem;
  box-shadow: #2EC5CE 0 0 1rem 1rem;
  background-color: #2EC5CE;
}
.land .background .blurs :nth-child(3) {
  filter: none;
  transform: scale(1.2) rotate(-6deg);
  width: 100vw;
  height: 30rem;
  left: 0rem;
  top: -2rem;
  border-radius: 0%;
  box-shadow: rgba(242, 247, 255, 0.6980392157) 0 0 1rem 1rem;
  background-color: rgba(242, 247, 255, 0.6980392157);
}
.land .background .line-first {
  transform: scale(1.1);
  overflow-x: hidden;
  position: absolute;
  left: 0;
  bottom: -20rem;
  width: 30rem;
}
.land .background .line-first img {
  object-fit: cover;
  width: 100%;
}
.land .background .line-second {
  transform: scale(1.1);
  right: 2rem;
  bottom: -14rem;
  position: absolute;
  width: 50rem;
}
.land .background .line-second img {
  object-fit: cover;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .land .background .line-second, .land .background .line-first {
    display: none;
  }
}
.land .info {
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1020px) {
  .land .info {
    margin-top: 6rem;
    flex-direction: column;
    text-align: center;
  }
}
.land .info .title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 33rem;
}
.land .info .title h1 {
  text-transform: uppercase;
}
.land .info .icon {
  transform: translateY(4rem);
  width: 100%;
  max-width: 26rem;
}
.land .info .icon img {
  object-fit: cover;
  width: 100%;
}

.bound {
  width: 100%;
  max-width: 75rem;
  padding: 0 2rem;
}

.primary-btn {
  width: fit-content;
  padding: 0.8rem 1.4rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1.005em;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #6165D7;
  transition: all 0.2s;
}
.primary-btn:hover {
  opacity: 0.8;
}

h1 {
  font-weight: 500;
  font-size: 3.015em;
}

h2 {
  font-weight: 500;
  font-size: 1.48em;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
}

p {
  font-size: 1.17em;
  font-weight: 400;
}

a {
  font-size: 1.005em;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  opacity: 0.8;
}

.listBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
@media screen and (max-width: 1100px) {
  .listBlock {
    flex-direction: column;
  }
}
.listBlock .hospitals, .listBlock .doctors {
  width: 100%;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.listBlock .hospitals h2, .listBlock .doctors h2 {
  text-transform: uppercase;
  font-weight: 400;
}
.listBlock .hospitals .primary-btn, .listBlock .doctors .primary-btn {
  margin: 0 auto;
  margin-top: 4rem;
}
.listBlock .cards {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 6rem;
}
.listBlock .cards .card {
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media screen and (max-width: 360px) {
  .listBlock .cards .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listBlock .cards .card .info {
    gap: 1rem;
    max-width: 100% !important;
  }
  .listBlock .cards .card .icon {
    max-width: 100% !important;
  }
}
.listBlock .cards .card .info {
  width: 100%;
  max-width: calc(100% - 160px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.listBlock .cards .card .info .number {
  padding: 0.4rem 1rem;
  width: fit-content;
  background: linear-gradient(160.22deg, #FFC444 223141.6%, #F36F56 309766.12%);
  border-radius: 30px;
}
.listBlock .cards .card .info .number p {
  font-size: 1.005em;
  font-weight: 500;
  color: #202122;
}
.listBlock .cards .card .info .text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.listBlock .cards .card .info .text p {
  font-weight: 400;
  font-size: 1.005em;
}
.listBlock .cards .card .info .text h2 {
  font-size: 1.17em;
}
.listBlock .cards .card .info .rating {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 1.005em;
}
.listBlock .cards .card .icon {
  max-width: 160px;
  max-height: 190px;
  width: 100%;
  height: 100%;
}
.listBlock .cards .card .icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.listBlock .cards .card .seeMore {
  cursor: pointer;
  position: absolute;
  top: calc(100% + 0.4rem);
  right: 0;
  transition: all 0.2s;
}
.listBlock .cards .card .seeMore h3 {
  font-size: 1.005em;
}
.listBlock .cards .card .seeMore:hover {
  opacity: 0.8;
}
.listBlock .hospitals h2 {
  margin: 0 0 0 auto;
}
.listBlock .hospitals .cards .card {
  background: linear-gradient(344.83deg, #E38DDD 28.03%, #9571F6 116.52%);
}
.listBlock .hospitals .cards .card .info .text h3, .listBlock .hospitals .cards .card .info .text p {
  color: rgb(255, 255, 255);
}
.listBlock .hospitals .cards .card .icon img {
  object-position: center;
}
.listBlock .hospitals .cards .card .rating {
  color: #ffffff;
}
.listBlock .doctors h2 {
  margin: 0 auto 0 0;
}
.listBlock .doctors .cards .card {
  background: rgba(242, 247, 255, 0.6980392157);
}
.listBlock .doctors .cards .card .info .text h3 {
  max-width: 12rem;
  font-weight: 600;
  color: #202122;
}
.listBlock .doctors .cards .card .icon img {
  object-position: top;
}
.listBlock .doctors .cards .card .rating {
  color: #202122;
}

.centerText {
  padding-top: 10rem;
  margin: 0 auto !important;
  text-align: center;
  max-width: 50rem;
}
.centerText h3 {
  font-size: 1.5075em;
}

.description {
  padding: 20rem 0;
  margin-top: 6rem;
  position: relative;
  background-color: transparent;
  z-index: 0;
}
.description .background {
  z-index: -1;
  width: 100%;
  max-width: 120rem;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.description .background .line1 {
  transform: scale(1.1);
  position: absolute;
  left: -20rem;
  bottom: 2rem;
  width: 30rem;
}
.description .background .line1 img {
  object-fit: cover;
  width: 100%;
}
.description .background .line2 {
  transform: scale(1.1);
  right: -20rem;
  bottom: 10rem;
  position: absolute;
  width: 50rem;
}
.description .background .line2 img {
  object-fit: cover;
  width: 100%;
}
.description .background .line3 {
  transform: scale(1);
  position: absolute;
  left: -20rem;
  top: 4rem;
  width: 64rem;
}
.description .background .line3 img {
  object-fit: cover;
  width: 100%;
}
.description .background .line4 {
  transform: scale(1.4);
  position: absolute;
  right: -20rem;
  top: -3.6rem;
  width: 30rem;
}
.description .background .line4 img {
  object-fit: cover;
  width: 100%;
}
.description .background img {
  z-index: -1;
}
.description .background .blurs {
  z-index: -2;
}
.description .background .blurs span {
  opacity: 60%;
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  filter: blur(12rem);
}
.description .background .blurs :nth-child(1) {
  transform: scale(0.9);
  right: 0rem;
  top: 8rem;
  box-shadow: #8C30F5 0 0 1rem 1rem;
  background-color: #8C30F5;
  filter: blur(10rem);
}
.description .background .blurs :nth-child(2) {
  transform: scale(0.4);
  left: -6rem;
  top: 42rem;
  box-shadow: #2213ac 0 0 1rem 1rem;
  background-color: #2213ac;
  filter: blur(14rem);
}
.description .background .blurs :nth-child(3) {
  transform: scale(0.5);
  right: 8rem;
  bottom: 20rem;
  box-shadow: #2EC5CE 0 0 1rem 1rem;
  background-color: #2EC5CE;
  filter: blur(14rem);
}
.description .background .blurs :nth-child(4) {
  transform: scale(0.4);
  right: 0rem;
  bottom: 10rem;
  box-shadow: #893976 0 0 1rem 1rem;
  background-color: #893976;
  filter: blur(18rem);
}
.description .content {
  display: flex;
  flex-direction: column;
}
.description .content .up {
  transform: translateY(-4rem);
}
@media screen and (max-width: 1100px) {
  .description .content .up {
    transform: none;
  }
}
@media screen and (max-width: 1000px) {
  .description .content .secondBlock, .description .content .cards {
    padding-top: 6rem !important;
  }
}
.description .content h2 {
  font-size: 1.92625em;
  text-transform: uppercase;
}
.description .content h3 {
  font-size: 1.5075em;
}
.description .content .block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.description .content .block .title {
  font-family: "Graphik LCG", "sans-serif";
}
.description .content .block .info {
  display: flex;
  justify-content: space-between;
}
.description .content .block .info .text {
  display: flex;
}
.description .content .block .info .icon {
  transform: scale(1.4) translateY(-4rem);
  max-width: 70rem;
}
.description .content .block .info .icon img {
  width: 100%;
}
.description .content .fitstBlock .title {
  max-width: 26rem;
  width: 100%;
}
.description .content .fitstBlock .info {
  gap: 4rem;
}
.description .content .fitstBlock .info .text {
  display: flex;
  gap: 4rem;
}
.description .content .fitstBlock .info .text p {
  max-width: 25rem;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .description .content .fitstBlock .text {
    flex-direction: column;
  }
  .description .content .fitstBlock .icon {
    transform: scale(1.4) !important;
  }
}
.description .content .secondBlock {
  gap: 2rem;
}
.description .content .secondBlock .title {
  max-width: 38rem;
}
.description .content .secondBlock .info {
  justify-content: space-evenly;
  gap: 4rem;
}
.description .content .secondBlock .info .text {
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 38rem;
}
.description .content .secondBlock .info .icon {
  flex-grow: 1;
  max-width: 20rem;
  transform: none;
}
@media screen and (max-width: 950px) {
  .description .content .secondBlock .info {
    justify-content: flex-start;
  }
  .description .content .secondBlock .info .text {
    max-width: 25rem;
  }
}
@media screen and (max-width: 780px) {
  .description .content .fitstBlock, .description .content .secondBlock {
    align-items: center;
  }
  .description .content .fitstBlock .icon, .description .content .secondBlock .icon {
    display: none;
  }
  .description .content .fitstBlock .title, .description .content .secondBlock .title {
    max-width: 100%;
  }
  .description .content .fitstBlock .text, .description .content .secondBlock .text {
    max-width: 100% !important;
  }
  .description .content .fitstBlock .text p, .description .content .secondBlock .text p {
    max-width: 100% !important;
  }
}
.description .content .cards {
  padding-top: 4rem;
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.description .content .cards .list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.6rem;
  list-style: none;
}
.description .content .cards .list li {
  width: fit-content;
  padding: 0.4rem 0.8rem;
  background: linear-gradient(344.83deg, #E38DDD 28.03%, #9571F6 116.52%);
  border-radius: 1rem;
}
.description .content .cards .list li p {
  color: #FFFFFF;
  font-size: 1.005em;
}

main {
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

/*# sourceMappingURL=index.css.map */
