@import "../fonts/stylesheet.css";
@import "../fonts/stylesheet.css";
.bound {
  width: 100%;
  max-width: 95rem;
  padding: 0 2rem;
}

.primary-btn {
  width: fit-content;
  padding: 0.8rem 1.4rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #6165D7;
  transition: all 0.2s;
}
.primary-btn:hover {
  opacity: 0.8;
}

h1 {
  font-weight: 500;
  font-size: 2.6em;
}

h2 {
  font-weight: 500;
  font-size: 1.8em;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
}

p {
  font-size: 1em;
  font-weight: 400;
}

a {
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  opacity: 0.8;
}

nav {
  position: fixed;
  z-index: 3;
  background-color: #ffffff;
  padding: 1.6rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links {
  list-style: none;
  display: none;
  gap: 2rem;
}
nav .links li {
  position: relative;
}
nav .links li a {
  font-size: 1em;
}
nav .links li::before {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: black;
  transform: scaleX(0);
  transition: all 200ms;
}
nav .links li:hover::before {
  transform: scaleX(1);
}
nav .burger-btn {
  z-index: 5;
  position: relative;
  display: flex;
  gap: 0rem;
  width: 40px;
  height: 30px;
  transition: all 0.2s;
  cursor: pointer;
}
nav .burger-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.2s;
}
nav .burger-btn span:nth-child(1) {
  top: 0;
}
nav .burger-btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
nav .burger-btn span:nth-child(3) {
  top: calc(100% - 3px);
}
nav .opened span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
nav .opened span:nth-child(2) {
  opacity: 0;
}
nav .opened span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}
nav .burger-menu {
  position: absolute;
  z-index: 4;
  left: -30rem;
  top: 0;
  height: 100dvh;
  width: fit-content;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s;
}
nav .burger-menu .burger-links {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
nav .burger-menu .burger-links li {
  position: relative;
}
nav .burger-menu .burger-links li a {
  font-size: 1em;
}
nav .burger-menu .burger-links li::before {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: black;
  transform: scaleX(0);
  transition: all 200ms;
}
nav .burger-menu .burger-links li:hover::before {
  transform: scaleX(1);
}
nav .opened-menu {
  left: 0;
}
nav .blackScreen {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.678);
  transition: all 0.2s;
}
nav .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav .info .location {
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
  transition: all 0.2s;
}
nav .info .location img {
  transform: translateY(-0.1rem);
  width: 100%;
  max-width: 0.8rem;
}
nav .info .location p {
  font-weight: 500;
}
nav .info .location:hover {
  opacity: 0.8;
}
@media screen and (max-width: 460px) {
  nav .info .location {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  nav {
    justify-content: space-around;
  }
  nav .links {
    display: flex;
  }
  nav .burger-btn, nav .burger-menu, nav .blackScreen {
    display: none !important;
  }
}

.land {
  position: relative;
  background-color: transparent;
  padding-top: 2rem;
  padding-bottom: 10rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.land .background {
  z-index: 0;
  width: 100%;
  max-width: 120rem;
  height: 20rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.land .background .blurs span {
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  filter: blur(12rem);
}
.land .background .blurs :nth-child(1) {
  transform: scale(1.1);
  right: 8rem;
  top: -10rem;
  box-shadow: #8C30F5 0 0 1rem 1rem;
  background-color: #8C30F5;
}
.land .background .blurs :nth-child(2) {
  transform: scale(0.6);
  right: 30rem;
  top: 10rem;
  box-shadow: #2EC5CE 0 0 1rem 1rem;
  background-color: #2EC5CE;
}
.land .background .blurs :nth-child(3) {
  filter: none;
  transform: scale(1.2) rotate(-6deg);
  width: 100vw;
  height: 30rem;
  left: 0rem;
  top: -2rem;
  border-radius: 0%;
  box-shadow: rgba(242, 247, 255, 0.6980392157) 0 0 1rem 1rem;
  background-color: rgba(242, 247, 255, 0.6980392157);
}
.land .background .line-first {
  transform: scale(1.1);
  overflow-x: hidden;
  position: absolute;
  left: 0;
  bottom: -20rem;
  width: 30rem;
}
.land .background .line-first img {
  object-fit: cover;
  width: 100%;
}
.land .background .line-second {
  transform: scale(1.1);
  right: 2rem;
  bottom: -14rem;
  position: absolute;
  width: 50rem;
}
.land .background .line-second img {
  object-fit: cover;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .land .background .line-second, .land .background .line-first {
    display: none;
  }
}
.land .info {
  z-index: 0;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1020px) {
  .land .info {
    margin-top: 6rem;
    flex-direction: column;
    text-align: center;
  }
}
.land .info .title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 32rem;
}
.land .info .title h1 {
  text-transform: uppercase;
}
.land .info .icon {
  transform: translateY(4rem);
  width: 100%;
  max-width: 26rem;
}
.land .info .icon img {
  object-fit: cover;
  width: 100%;
}

.bound {
  width: 100%;
  max-width: 95rem;
  padding: 0 2rem;
}

.primary-btn {
  width: fit-content;
  padding: 0.8rem 1.4rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #6165D7;
  transition: all 0.2s;
}
.primary-btn:hover {
  opacity: 0.8;
}

h1 {
  font-weight: 500;
  font-size: 2.6em;
}

h2 {
  font-weight: 500;
  font-size: 1.8em;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
}

p {
  font-size: 1em;
  font-weight: 400;
}

a {
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  opacity: 0.8;
}

.list {
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
@media screen and (max-width: 1100px) {
  .list {
    flex-direction: column;
  }
}
.list .hospitals, .list .doctors {
  width: 100%;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.list .hospitals h2, .list .doctors h2 {
  font-weight: 400;
}
.list .hospitals .primary-btn, .list .doctors .primary-btn {
  margin: 0 auto;
  margin-top: 4rem;
}
.list .cards {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 6rem;
}
.list .cards .card {
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.list .cards .card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.list .cards .card .info .number {
  padding: 0.4rem 1rem;
  width: fit-content;
  background: linear-gradient(160.22deg, #FFC444 223141.6%, #F36F56 309766.12%);
  border-radius: 30px;
}
.list .cards .card .info .number p {
  font-weight: 400;
  color: #202122;
}
.list .cards .card .info .text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.list .cards .card .info .text p {
  font-weight: 400;
}
.list .cards .card .info .rating {
  font-family: "Jost", sans-serif;
  font-weight: 500;
}
.list .cards .card .icon {
  max-width: 160px;
  max-height: 190px;
  width: 100%;
  height: 100%;
}
.list .cards .card .icon img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.list .cards .card .seeMore {
  cursor: pointer;
  position: absolute;
  top: calc(100% + 0.4rem);
  right: 0;
}
.list .cards .card .seeMore h3 {
  font-size: 1em;
}
.list .hospitals h2 {
  margin: 0 0 0 auto;
}
.list .hospitals .cards .card {
  background: linear-gradient(344.83deg, #E38DDD 28.03%, #9571F6 116.52%);
}
.list .hospitals .cards .card .info .text h3, .list .hospitals .cards .card .info .text p {
  color: rgb(255, 255, 255);
}
.list .hospitals .cards .card .rating {
  color: #ffffff;
}
.list .doctors h2 {
  margin: 0 auto 0 0;
}
.list .doctors .cards .card {
  background: rgba(242, 247, 255, 0.6980392157);
}
.list .doctors .cards .card .info .text h3 {
  max-width: 12rem;
  font-weight: 600;
  color: #202122;
}
.list .doctors .cards .card .rating {
  color: #202122;
}

.centerText {
  margin: 4rem auto !important;
  width: 100%;
  max-width: 43rem;
  text-align: center;
}
.centerText h3 {
  font-size: 1.4em;
}

main {
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

/*# sourceMappingURL=index.css.map */
