@import "../base.scss";

@import "land.scss";
@import "list.scss";

main{
   width: 100%;
   height: fit-content;
   
   overflow-x: hidden;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   background-color: $white;
}