@import "../base.scss";

@import "../nav.scss";
@import "../footer.scss";

//blocks
@import "land.scss";
@import "list.scss";
@import "centerText.scss";
@import "description.scss";
@import "expertise.scss";

main{
   width: 100%;
   height: fit-content;
   
   overflow-x: hidden;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   background-color: $white;
}