@import "../base.scss";

.list{
   padding-bottom: 5rem; //del that
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 6rem;

   @media screen and (max-width: 1100px) {
      flex-direction: column;
   }

   .hospitals, .doctors{
      width: 100%;
      max-width: 28rem;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      h2{
         font-weight: 400;
      }

      .primary-btn{
         margin: 0 auto;
         margin-top: 4rem;
      }
   }

   .cards{
      width: 100%;
      
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 6rem;

      .card{
         position: relative;

         padding: 1rem;
         border-radius: 10px;

         width: 100%;

         display: flex;
         justify-content: space-between;
         gap: 2rem;

         @media screen and (max-width: 360px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .info{
               max-width: 100% !important;
            }

            .icon{
               max-width: 100% !important;
            }
         }

         .info{
            width: 100%;
            max-width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;

            .number{
               padding: .4rem 1rem;

               width: fit-content;

               background: linear-gradient(160.22deg, $yellow-gradient1 223141.6%, $yellow-gradient2 309766.12%);
               border-radius: 30px;

               p{
                  font-weight: 400;
                  color: $text;
               }
            }

            .text{
               display: flex;
               flex-direction: column;
               gap: .4rem;

               p{
                  font-weight: 400;
               }
            }

            .rating{
               font-family: "Jost", sans-serif;
               font-weight: 500;
            }
         }

         .icon{
            max-width: 160px;
            max-height: 190px;
            width: 100%;
            height: 100%;
            img{
               object-fit: cover;
               width: 100%;
               height: 100%;
               border-radius: 8px;
            }
         }

         .seeMore{
            cursor: pointer;
            
            position: absolute;
            top: calc(100% + 0.4rem);
            right: 0;

            h3{
               font-size: 1em;
            }
         }
      }
   }  

   // colors

   .hospitals{
      h2{
         margin: 0 0 0 auto;
      }
      .cards{
         .card{
            background: linear-gradient(344.83deg, $purple-gradient1 28.03%, $purple-gradient2 116.52%);

            .info{
               .text{
                  h3, p{
                     color: rgb(255, 255, 255);
                  }
               }
            }
            .icon{
               img{
                  object-position: center;
               }
            }
            .rating{
               color: #ffffff;
            }
         }
      }
   }

   .doctors{
      h2{
         margin: 0 auto 0 0;
      }
      .cards{
         .card{
            background: #F2F7FFB2;

            .info{
               .text{
                  h3{
                     max-width: 12rem;
                     font-weight: 600;
                     color: $text;
                  }
               }
            }
            .icon{
               img{
                  object-position: top;
               }
            }
            .rating{
               color: $text;
            }
         }
      }
   }
}