@import "../fonts/stylesheet.css"; // fonts

//max-width
$bound: 75rem;


// font sizes
$size-h1: 3.015em; //36px
$size-h2: 1.48em;
$size-h2-title: 1.92625em; //23px
$size-h3: 1.2em;
$size-text: 1.17em; //23px
$size-name: 1.17em; //23px
$size-undertitle: 1.005em;
$size-links: 1.005em; //12px
$size-title: 1.5075em; //18px


// UI colors
$text: #202122; 

$purple-gradient1: #E38DDD; //background: linear-gradient(344.83deg, $purple-gradient1 28.03%, $purple-gradient2 116.52%);
$purple-gradient2: #9571F6;

$yellow-gradient1: #FFC444;
$yellow-gradient2: #F36F56;

$white: #FFFFFF;
$gray: #F2F7FFB2;
$gray-primary: #a4a4a4;

$primary: #6165D7;
$primary-dark: #2213ac;

$gray-dark: #353535;


// components
.bound{
   width: 100%;
   max-width: $bound;

   padding-left: 2rem !important;
   padding-right: 2rem !important;
}

.primary-btn{
   width: fit-content;
   padding: .8rem 1.4rem;

   border-radius: 8px;
   border: none;

   cursor: pointer;

   text-align: center;
   font-size: $size-undertitle;
   font-weight: 500;

   color: $white;
   background-color: $primary;

   transition: all 0.2s;

   &:hover{
      opacity: .8;
   }
}

h1{
   font-weight: 500;
   font-size: $size-h1;
}
h2{
   font-weight: 500;
   font-size: $size-h2;
}
h3{
   font-weight: 500;
   font-size: $size-h3;
}
p{
   font-size: $size-text;
   font-weight: 400;
}
a{
   font-size: $size-links;
   font-weight: 500;
   text-decoration: none;

   transition: all 0.2s;
   &:hover{
      opacity: .8;
   }
}