@import "./base.scss";

footer{
   margin-top: 8rem;

   padding: 5em 0;
   width: 100%;

   background-color: $text;
   h3{
      font-weight: 400;
      color: $white;
      font-size: $size-undertitle;
   }
   p, a{
      font-weight: 400;
      color: $gray-primary;
      font-size: $size-undertitle;
   }

   display: flex;
   justify-content: center;

   .list{
      display: flex;
      justify-content: space-between;
      gap: 8rem;

      .policy{
         width: auto;
         max-width: 21rem;
      }
      
      .anotherBlocks{
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         gap: 0rem;

         :nth-child(n){
            width: 100%;
            max-width: 10.5rem;
         }
      }

      div{
         display: flex;
         flex-direction: column;
         gap: 1rem;
      }
   }

   @media screen and (max-width: 1032px) {
      .list{
         flex-direction: column;
         gap: 4rem;

         .anotherBlocks{
            gap: 2rem;
         }

         .policy{
            order: 1;
         }
      }
   }
}