@import "base.scss";

*{
   padding: 0;
   margin: 0;

   box-sizing: border-box;
   line-height: 1.25;

   font-style: normal;
   font-weight: normal;
   color: $text;
   font-family: 'Graphik LCG', 'sans-serif';
}


@media screen and (max-width: 390px) {
   html{
      font-size: 0.8em;
   }
}
@media screen and (max-width: 300px) {
   html{
      word-break: break-all;
   }
}